body, html {
    background: #EEEEF3;
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.window-frame {
    height: 100%;
}
.debug-bar {
    position: fixed;
    bottom: 0;
    background: white;
}

.node {
    position: absolute;
    background: white;
    padding: 10px;
    display: none;
    box-sizing: content-box;
    border-radius: 5px;
    /*resize: both;*/
    /*overflow: auto;*/
}

.node:hover {
    cursor: move;
}